.genres-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.genres-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.genre-item {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}
